* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Rubik Mono One', sans-serif;
}

.box {
   height: 100vh;
   position: relative;
}

#red {
   background-color: red;
}

#green {
   background-color: green;
}

#yellow {
   background-color: yellow;
}

/* HEADER  */
header {
   z-index: 500;
   padding-top: 40px;
   position: fixed;
   right: 30px;
}

header ul {
   list-style: none;
}

header ul li {
   display: inline-block;
   margin-left: 25px;
}

header ul li a {
   padding: 16px 20px;
   text-decoration: none;
   font-size: 25px;
   color: black;
   background-color: #FFF;
   border-radius: 50%;
}

a:hover {
   color: blue;
}

a:active {
   color: red;
}

/* BOX ********  */
.box .contained img {
   width: 100%;
}

.box .contained {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.box .title {
   font-size: 3vw;
   text-align: center;
}

/* TITLE************ */
.title {
   color: yellow;
}

#yellow .title{
   color: green;
}

